* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #e5e5e5;
}

.container {

    width: 375px;
    height: 766px;
    background: #f4f4f4;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;

}

header {
    background: #1b83e2;
    width: 375px;
    height: 66px;
}

h1 {
    color: #f4f4f4;
    font-size: 24px;
    line-height: 18px;
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    position: absolute;
    top: 22px;
    left: 50px;
    

}



.text1 {
    position: absolute;
    top: 89px;
    left: 24px;
    width: 119px;
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #777777;
}

.text2 {
    position: absolute;
    top: 184px;
    left: 24px;
    width: 119px;
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #777777;
}

.text3 {
    position: absolute;
    top: 280px;
    left: 24px;
    width: 119px;
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #777777;
}

button {
    position: absolute;
    top: 412px;
    left: 24px;
    width: 327px;
    height: 48px;
    background: #1b83e2;
    border: #1B83E2;
    border-radius: 25px;
    color: #F4F4F4;
    cursor: pointer;
}

option {
    width: 324px;
    height: 38px;
    top: 21px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
    border: 1px solid #bbbbbb;
}

select {
    width: 327px;
    height: 48px;

}

.sombra {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    width: 327px;
    height: 48px;



}

label {
    position: absolute;
    top: -38px;
    margin-top: 38px;
}

section {
    position: absolute;
    width: 125px;
    height: 251px;
    left: 125px;
    top: 511px;
}

.cor {

    color: #1b83e2;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: -6px;
    text-align: center;

}


.texto {
    
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    align-items: center;
    width: 119px;
    height: 18px;
    left: 171px;
    font-size: 14px;
    font-style: normal;
    color: #777777;
    font-family: 'Roboto', sans-serif;
   
    
}

img {
    width: 44px;
    height: 44px;
    margin-left: 38px;
}

.container2 {
    position: relative;
    border: 1px solid #1B83E2;
    border-radius: 4px;
    width: 327px;
    height: 276px;
    top: -250px;
    left: -98px;
}

